@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/WwkQxPq1DFK04uqieVo.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/WwkdxPq1DFK04uIZXErDEIA.ttf) format('truetype');
}
